<ion-view view-title="<b>Route</b>" hide-back-button="true">
	
	<ion-nav-buttons side="right">
    
    <span ui-sref="app.start" >
      <button class="button button-clear icon ion-android-cart white-color">
        
      </button>  
    
    </ion-nav-buttons>

    <ion-content>

		<div class="list">

		  <div class="item item-divider">
		    Suggested Shops
		  </div>

		  <a class="item" href="#">
		  </a>


		</div>

		<div class="list">

		  <div class="item item-divider">
		    Alternative Shops
		  </div>

		  <a class="item" href="#">
		  </a>


		</div>

    </ion-content>


</ion-view>