<ion-view view-title="My Wishlist" hide-back-button="true">
	
	<ion-nav-buttons side="right">
    <span ui-sref="app.start" >
      
    </span>
    </ion-nav-buttons>

    <ion-content>

		<div class="list list-inset">

		    <div class="item">
		    </div>

		</div>

		<button class="button icon-left ion-plus button-block button-positive" ng-click="addItem()"><i>Add item to wishlist</button>

		<button class="button icon-left ion-navigate button-block button-positive" ng-click="navigate()"><i>Suggest Route</button>

    </ion-content>


</ion-view>